
 body{
    background-color: gray;
    color: blanchedalmond;
   }
   h1{
     font-family:cursive;
     color:indigo;
   }
  h2{
    font-family:Verdana, Geneva, Tahoma, sans-serif
  }

 a{
    outline: none;
    text-decoration: none;
    display: inline-block;
    width: 19.5%;
    margin-right: 0.625%;
    text-align: center;
    line-height: 3;
    color: black;
    font-family: Impact, sans-serif;
  }
  a:link, a:visited, a:focus {
    background: light-gray;
  }
    
  a:hover {
    background: red;
  }
  
  a:active {
    background: black;
    color: white;
  }

  img{
    width: 200px;
    height:200px;
    margin-top: 0%;
    margin-left: 40%;
    position:fixed;
    text-align: left;
   }